*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    height: 300px;
    float: left;
    padding: 15px;
} 

@media (max-width: 320px) {
    .grid .col {
        width: 100%;
    }
}

@media (min-width: 1250px) {
    .grid .col {
        width: 23.9%;
    }
}